@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.hide {
    display: none;
}

h1, h2, h3, h4, h4, h5, h6 {
    margin: 0;
    color: #444;
}

.container {
    padding-top: 20px;
}

body {
    font-family: "Chivo", serif;
    background-color: #fafafa;
}

.license-view table {
    width: 100%;
}

pre {
    font-family: "Inconsolata", monaco, monospace;
    margin: 0;
}

.table.no-border,
.table.no-border th,
.table.no-border td {
    border: none !important;
    vertical-align: top;
}

.license-view table .explanation {
    width: 30%;
    text-align: right;
    font-weight: 800;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #333;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
}

.controls a {
    font-weight: normal;
}

a {
    color: #111 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #444 !important;
}

table.shadow {
    width: 720px !important;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}
