@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.hide {
    display: none;
}

h1, h2, h3, h4, h4, h5, h6 {
    margin: 0;
    color: #444;
}

.container {
    padding-top: 50px;
}

html, body {
    font-family: "Chivo", serif;
    background-color: #fafafa;
}

.license-view table {
    width: 100%;
}

pre {
    font-family: "Inconsolata", monaco, monospace;
    margin: 0;
}

.table.no-border,
.table.no-border th,
.table.no-border td {
    border: none !important;
    vertical-align: top;
}

.license-view table .explanation {
    width: 30%;
    text-align: right;
    font-weight: 800;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #333;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
}

.controls a {
    font-weight: normal;
}

a {
    color: #111 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #444 !important;
}

table.shadow {
    width: 720px !important;
    margin: 0 auto;
    border-radius: 0;
}

.table {
    background: #fff;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.main-view h1 {
    font-size: 60px;
}
.main-view h2 {
    font-size: 27px;
    line-height: 30px;
    padding: 20px 100px;
    position: relative;
    color: #149ad4;
}

.main-view h2 span {
    position: absolute;
    display: block;
    float: left;
    top: 50%;
    margin-top: -22px;
    color: #f1f1f1;
    font-size: 70px;
}

.main-view h2 span:first-child {
    left: 65px;
}

.main-view h2 span:last-child {
    right: 65px;
}
